/* generali */
body{
    font-family: "Roboto", sans-serif;
}

header{
    /* debug */
    height: 100px;
    max-height: 100px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* DEBUG */
.container-fluid{
    border: 2px solid black;

}

[class*="col"]{

    background-color: darkslategray;
    border: 2px solid white;
}

.col [class*="col"] {
    background-color: blue;
}

.col-12 [class*="col"]{
    background-color: aquamarine;
    height: 200px;
}

/* HEADER */

.logo{
    height: 80px;
}

.input-group-text, .form-control{
    background-color: rgb(229 229 229);
}