/* generali */
body{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    position: relative;
}


img{
    max-width: 100%;
    max-height: 100%;
}

i{
    margin-right: 0.5em;
}

ul{
    list-style: none;
}

li{
    padding-left: 1em;
    margin-bottom: 1em;
}

nav{
    margin-top: 1em;
}

/* DEBUG */

[class*="col"]{

    background-color: darkslategray;
    
}

.col [class*="col"] {
    background-color: blue;
}

.col-12 [class*="col"]{
    background-color: aquamarine;
    height: 200px;
}





/* HEADER */

header{
    height: 80px;
}

.logo{
    height: 80px;
}

.input-group-text, .form-control{
    background-color: rgb(229 229 229);
}

header .desktop-version i{
    color: rgb(91 88 88);
}

.desktop-version .fa-question{
    color: white;
    background-color: rgb(91 88 88);
    padding: 0.3em 0.5em;
    border-radius: 50%;
}

/* non visibile nelle versioni mobile e tablet */
.desktop-version{
    display: none;
}





/* MAIN */

/* colonna sinistra */
.ms-box-sx{
    padding: 100px 1em 1em;
    height: 100vh;
    color: white;
    background: linear-gradient(
        -160deg,
        rgb(5 30 52)0%,
        rgb(5 30 52)30%,
        rgb(14 37 59) 30%,
        rgb(14 37 59) 100%
    );
}


.ms-container{
    padding-top: 80px;
    height: 100%;
    width: 100%;
    background-color: chartreuse;
}


.font-awesome::marker{
    font-family: "FontAwesome";
}

.home{
    list-style: "\f015";
}

.stats{
    list-style: "\e473";
}

.signal{
    list-style: "\f012";
}

.settings{
    list-style: "\f013";
}

.icone{
    text-align: center;
}

.icone i{
    margin-right: 0;
    margin-bottom: 1em;
    display: block;
}




/* COLONNA PRINCIPALE */

/* barra superiore */
.breadcrumb-item{
    background-color: rgba(91, 88, 88, 0.5);
    padding: 0 0.8em;
    border-radius: 20px;
    margin-right: 0.5em;
}

.breadcrumb i{
    font-size: 12px;
    vertical-align: middle;
    margin: 0.6em 0.5em 0 0;
}




#form{
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
}